@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page of my backend web application, used for simple RESTful API calling and consuming. Please note that you can only consume the API for about 100 uses per day.</p>
</div>
